.daune {
    background-image: url('../image/home_banner.png');
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    padding: 20px;
    position: relative; /* Thêm position: relative cho header */
   
}

.daune {
   
    margin: 0 auto;
}
.box-ovan{
    width: 300px;
    height: 300px;
    background-image: url('../image/logo_new.8a0251b8.svg');
    background-repeat: no-repeat;
    
    /* Định vị ở giữa trang web và đỉnh */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
 

}

.text-loginleft{
    margin-left: 1000px;
    width: 160px;
    height: 30px;
    background: white;
    border-radius: 20px;
   
    font-size: 13px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 500;


    
    img{
        padding-bottom: 4px;
    }
}
